<div class="new_comment" >
  <p>
    <%= comment.message %>
    <br>

    <% if comment.user != nil  %>
        <p> by <%= comment.user.first_name %></p>
        <p>Added on: <%= comment.created_at %></p>
    <% end %>
</div>
