*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;

  & > img {
    display: block;
  }
}

header {
  padding: 1em;
}

hr {
  border: 0;
  height: 1px;
  background: $lightgrey;
  margin: 0.5em 0;
}

p {
  font-size: 1em;
}
