input {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  width: 100%;
}

input[value],
input[placeholder] {
  font-weight: 300;
  color: $grey;
  opacity: 1;
}

input[type=submit] {
  padding: 0.5em;
  color: white;
  background-color: $blue;
  border: 1px solid $blue;
}

input[type=checkbox] {
  width: auto;
  display: inline-block;
}
