.cover {
  display: table;
  background: url("http://www.blogs.jbs.cam.ac.uk/socialinnovation/wp-content/uploads/2015/06/2015_csiblog_embracing-passion-creativity-883x432.jpg") no-repeat;
  background-position: right;
  background-color: #F3F3F5;
  width: 100%;
  height: 500px;
}

.welcome {
  width: 100%;
  height: 500px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 3em;
  text-align: left;
  font-size: 60px;
  line-height: 100%;
}

.feature-project {
  margin: 0 auto;
  width: 50%;
  padding: 2em;
}

.feature-project h2 {
  font-weight: normal;
  display: inline-block;
}

.fa {
  color: $blue;
  display: inline-block;
}
