// Typography
$base-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colours
$blue: #66a0ff;
$grey: #777;
$lightgrey: #DDD;
$lightergrey: #EEE;
