<section class="container">
  
  <h3 class="color-blue">Categories </h3>

  <hr><br />

  <% @categories.each do |cat| %>
  <h1 class="category-name"><%= link_to cat.category, cat %></h1>
  <% end %><br />

</section>
